.button {
  display: block;
  width: auto;
  padding: 10px;
  background-color: var(--primary-bright);
  color: var(--primary-bright);
  font-family: 'Merriweather Sans';
  font-size: 20px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover:not(:disabled) {
    background-color: var(--primary-contrast);
    border-color: var(--primary-bright-contrast);
    color: var(--primary-bright);
  }

  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }
}

.primary {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
  color: var(--primary-bright-contrast);
}

.secondary {
  font-size: 17px;
  background-color: var(--bg);
  color: var(--text);
  border: var(--border);
}

.theme {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 50%;
  border: 2px solid color-mix(in srgb, var(--primary-contrast) 35%, transparent);

  color: var(--primary-contrast);
  cursor: pointer;

  transition:
    background-color 0.25s ease,
    transform 0.15s ease,
    border-color 0.25s ease;

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--primary-contrast) 15%,
      transparent
    );
  }

  &:active {
    transform: scale(0.95);
  }
}
.error {
  background-color: transparent;
  color: var(--danger);
}

.icons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--primary);
  background-color: var(--bg);
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--border);

  &:active {
    background-color: var(--primary);
  }
}
