@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --bg: #fdfcf9;
  --text: #1a2c27;

  --card: #f1f4f0;
  --border: #e2e8e3;

  --primary-bright: #db622e;
  --primary-bright-contrast: #ffffff;

  --primary: #23423a;
  --primary-contrast: #c3cfc0;

  /* States */
  --danger: #bc4b41;

  /* Form */
  --input-bg: #ffffff;
  --input-text: #1a2c27;
  --input-border: #d1d9d2;

  /* Misc*/
  --shadow: 0 20px 40px rgba(26, 44, 39, 0.05);

  --mask: #fdfcf985;
  --logo: #e67e50;

  font-family: 'Merriweather', 'Merriweather Sans', 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
}

:root[data-theme='dark'] {
  --bg: #121c1a;
  --text: #e3ebe4;

  --card: #1a2825;
  --border: #253632;

  --primary-bright: #f0946d;
  --primary-bright-contrast: #121c1a;

  --primary: #4a7a6d;
  --primary-contrast: #87a187;

  --danger: #e57373;

  --input-bg: #1a2825;
  --input-text: #e3ebe4;
  --input-border: #2f4540;

  --shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

  --logo: #f0946d;
  --mask: #121c1aeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 3;
}
