.layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  transition: var(--transition);
}

.content {
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  padding: 24px 16px;
  transition: var(--transition);
}
