.layout {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  transition: var(--transition);
  overflow: hidden;
}

.content {
  height: calc(100vh - 70px);
  flex: 1;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  transition: var(--transition);
  overflow-y: auto;
}
