.calendarContainer {
  font-family: 'Merriweather', 'Merriweather Sans', 'Open Sans', sans-serif;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 20px;
  max-width: 2000px;
  width: 99%;
  margin: 40px auto;
  display: flex;
  justify-content: flex-end;
  box-shadow: var(--shadow);
  color: var(--text);
  overflow: hidden;
}

.calendar {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.calendarHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 10px 0 0;
  gap: 80px;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
}

.buttonChangeMonth {
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Merriweather Sans';
  color: var(--text);
  font-size: 1.2rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--border);
  }
}

.daysRowContainer {
  display: flex;
  justify-content: end;
  overflow-x: auto;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dayCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  // height: 45px;
  flex-shrink: 0;
  border-right: 1px solid var(--border);
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;

  &:last-child {
    border-right: none;
  }

  &:hover:not(.activeDay) {
    background-color: var(--bg);
  }
}

.dayOfWeek {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.dayOfMonth {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}

.today {
  background-color: var(--primary-contrast);
}

.activeDay {
  background-color: var(--primary);
  color: var(--primary-contrast);

  .dayOfWeek,
  .dayOfMonth {
    color: inherit;
  }
}
