.title {
  width: fit-content;
  font-family: 'Merriweather';
  font-weight: 700;
  color: var(--text);
  text-align: center;
  margin: 0px auto;
}

.main {
  font-size: 55px;
}
.lg {
  font-size: 35px;
}
.md {
  font-size: 25px;
}
.sm {
  font-size: 18px;
}
