.leftColumn {
  display: flex;
  flex-direction: column;
}

.controls {
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.allHabitsWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

//BUTTONS
.buttonHabitList,
.buttonAddHabit {
  width: 100%;
  font-size: 15px;
  font-family: 'Merriweather Sans';
  border-radius: 6px;
  background-color: var(--bg);
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonHabitList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  border: 2px solid var(--primary);

  span {
    font-size: 18px;
    font-weight: 900;
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);

    span {
      transform: rotate(180deg);
    }
  }
}

.buttonAddHabit {
  color: var(--primary);
  border: 2px solid var(--primary);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
    background-color: var(--primary);
    color: var(--primary-contrast);
  }

  &:active {
    transform: translateY(0);
  }
}

.habitsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.habitTitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
  min-height: 35px;
}

.habitItem {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 8px;
  &:not(.profileMode):hover {
    background: var(--primary-contrast);

    .deleteBtn {
      opacity: 1;
    }
  }
}

.habitInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.deleteBtn {
  display: flex;
  background: none;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  opacity: 0;
  transition:
    opacity 0.2s,
    transform 0.1s;
  padding: 4px;

  &:hover {
    transform: scale(1.1);
    color: #cf1322;
  }
}

.profileMode {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); // Разделитель между привычками

  .habitTitle {
    font-size: 16px;
    font-weight: 500;
  }
}

.streakInfo {
  font-size: 13px;
  margin-left: 10px;
  color: #888;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.colorIndicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
