.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

//BUTTONS
.buttonHabitList,
.buttonAddHabit {
  width: 100%;
  font-size: 15px;
  font-family: 'Merriweather Sans';
  border-radius: 6px;
  background-color: var(--bg);
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonHabitList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  border: 2px solid var(--primary);

  span {
    font-size: 18px;
    font-weight: 900;
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);

    span {
      transform: rotate(180deg);
    }
  }
}

.buttonAddHabit {
  color: var(--primary);
  border: 2px solid var(--primary);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
    background-color: var(--primary);
    color: var(--primary-contrast);
  }

  &:active {
    transform: translateY(0);
  }
}

.habitTitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
  height: 40px;
}
