.main {
  background: url('https://images.pexels.com/photos/6648788/pexels-photo-6648788.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 25vh 0;
  height: 100%;
  z-index: 2;
  & > * {
    position: relative;
    z-index: 4;
  }
}

.main:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--mask);
  opacity: 0.8;
  z-index: 3;
}

.mainText {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  p {
    font-family: 'Open Sans';
    font-size: 18px;
    color: var(--text);
    text-align: center;
  }
}
