.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary);
  padding: 15px 20px;
  gap: 25px;
  height: 70px;
}

.leftPart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 25px;
  display: inline-block;
  background: var(--logo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  font-family: 'Merriweather';
  font-weight: 700;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.rightPart {
  display: flex;
  align-items: center;
  gap: 10px;
}
